/* ==========================================================================
Main page styles
========================================================================== */
.center-iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
